{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<main class="homeMain h-100 d-flex align-items-center justify-content-center">
		{{ form_start(form, {'attr': {'class': 'w-100 d-block py-4'}})}}
		<h1 class="text-center text-light display-1">
			Search your car</h1>
		<div class="form-row formHome">
			{{form_row(form.pickUpLocation, {'row_attr': {'class': 'd-flex flex-column home'}})}}
			{{form_row(form.pickUpDate, {'row_attr': {'class': 'home'}})}}
			{{form_row(form.destination, {'row_attr': {'class': 'home'}})}}
			{{form_row(form.dropOffDate, {'row_attr': {'class': 'home'}})}}
			<div class="align-self-end">
				<button type='submit' class="btn py-1 pb-2"><img src="{{ asset('build/images/searchWhite.png') }}" id="returnLogo"></button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
</main>{% endblock %}
