{% extends 'base.html.twig' %}

{% block title %}Rent index{% endblock %}

{% block body %}
    <h1>Rent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EndDate</th>
                <th>StartDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rent in rents %}
            <tr>
                <td>{{ rent.id }}</td>
                <td>{{ rent.endDate ? rent.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ rent.startDate ? rent.startDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_rent_show', {'id': rent.id}) }}">show</a>
                    <a href="{{ path('app_rent_edit', {'id': rent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rent_new') }}">Create new</a>
{% endblock %}
