{% extends 'baseLogin.html.twig' %}

{% block body %}

	<main class="container-fluid bg-login h-100 w-100 m-0">
		<div class="row d-flex mb-3 justify-content-md-center text-center">

			<img class="mb-3 mt-5" src="{{asset('build/images/sharing_car.svg')}}" alt="" width="90" height="90">
			<h1 class="h3 mb-3 fw-normal">Welcome to the fleet management service of Spectra Society !<br>
			</h1>

			<h2 id="slogan">Carsharing friendly<img id="plant" src="{{asset('build/images/plant.svg')}}" alt="plant"></h2>

			<div class="d-flex justify-content-md-center">
				{% if error %}
					<div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}


				<form action="{{ path('app_login') }}" method="post">

					<div class="">
						<label class="form-label mt-3" for="username">Email :</label>
						<input type="text" class="form-control mt-1 formSize" id="username" name="_username" placeholder="Your email here" value="{{ last_username }}">
					</div>

					<div class="my-3">
						<label class="form-label mt-3" for="password">Password :</label>
						<input type="password" id="password" name="_password" class="form-control mt-1 mb-4 formSize" placeholder="Your password here">
					</div>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<input type="hidden" name="_target_path" value="/login/redirect">
			</div>

			<div class="row d-flex justify-content-center">
				<button class="mt-3 btn btn-lg button" type="submit">Login</button>
			</div>
		</form>
		<div class="d-flex justify-content-center">
			<p class="my-5 text-muted">&copy; Hackathon Wild Code School 2023</p>
		</div>
	</div>
</div></main>{% endblock %}
