<div class="card rounded-0 mb-5 pb-5 border-bottom border-grey" style="width: 750px;">
	<div class="row g-0 h-100">
		<div class="h-100 col-md-4 img-car rounded-4" style="background-image: url({{car.picture}})"></div>
		<div class="col-md-8">
			<div class="card-body h-100 pb-0 d-flex flex-column justify-content-between">
				<div>
					<div class="d-flex flex-row justify-content-between">
						<h5 class="card-title mb-0">{{car.model}}
							-
							{{car.brand}}</h5>
						<div class="d-flex flex-row">
							<div class="carbon"></div>
							<div class="ps-1">kg CO<sup>2</sup>
							</div>
						</div>
					</div>
					<p class="card-text mb-2">
						<small>{{car.registration}}</small>
					</p>
					<p class="card-text mb-0">{{car.geerbox}}
						gears -
						{{car.fuel}}
						-
						{{car.kilometers}}km</p>
					<p class="card-text mb-0">{{car.seats}}
						seats
					</p>
				</div>
				<div class="d-flex justify-content-end">
					<a href="{{ path("app_rent_new", {'id':car.id, 'locationDeparture':locationDeparture, 'locationArrival':locationArrival, 'startDate':startDate, 'endDate':endDate}) }}" class="btn button rounded">Book</a>
				</div>
			</div>
		</div>
		<div>
			<span class="d-none energies">{{car.fuel}}</span>
		</div>
	</div>
</div>
