{% extends 'base.html.twig' %}

{% block title %}Car index
{% endblock %}

{% block body %}
	<nav class="navbar navbar-light">
		<form class="form-inline">
			<button class="btn btn-outline-success" type="button">
				<a class="text-dark text-decoration-none" href="{{ path("app_car_index") }}">List of cars</a>
			</button>
			<button class="btn btn-outline-success" type="button">
				<a class="text-dark text-decoration-none" href="{{ path("app_rent_index") }}">List of rent</a>
			</button>
		</form>
	</nav>
	<h1>Your cars</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Model</th>
				<th>Brand</th>
				<th>Fuel</th>
				<th>Geerbox</th>
				<th>Kilometers</th>
				<th>Seats</th>
				<th>Registration</th>
				<th>Available</th>
				<th>Picture</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for car in cars %}
				<tr>
					<td>{{ car.model }}</td>
					<td>{{ car.brand }}</td>
					<td>{{ car.fuel }}</td>
					<td>{{ car.geerbox }}</td>
					<td>{{ car.kilometers }}</td>
					<td>{{ car.seats }}</td>
					<td>{{ car.registration }}</td>
					<td>
						{% if car.available == true %}
							<div class="alert alert-success" role="alert">
								Available
							</div>
						{% endif %}
						{% if car.available == false %}
							<div class="alert alert-danger" role="alert">
								Unavailable
							</div>
						{% endif %}
					</td>
					<td>
						<img class="w-25" src="{{ car.picture }}">
					</td>
					<td>
						<a href="{{ path('app_car_show', {'id': car.id}) }}">show</a>
						<a href="{{ path('app_car_edit', {'id': car.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button class="btn btn-outline-success" type="button">
		<a class="text-dark text-decoration-none" href="{{ path('app_car_new') }}">Create new</a>
	</button>
{% endblock %}
