{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Brand</th>
                <th>Fuel</th>
                <th>Geerbox</th>
                <th>Kilometers</th>
                <th>Seats</th>
                <th>Unavailabilitydate</th>
                <th>Registration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.fuel }}</td>
                <td>{{ car.geerbox }}</td>
                <td>{{ car.kilometers }}</td>
                <td>{{ car.seats }}</td>
                <td>{{ car.unavailabilitydate ? car.unavailabilitydate|date('Y-m-d') : '' }}</td>
                <td>{{ car.registration }}</td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}">Create new</a>
{% endblock %}
