<div class="card rounded-0 mb-5 pb-5 border-bottom border-grey" style="width: 750px;">
	<div class="row g-0 h-100">
		<div class="h-100 col-md-4 img-car rounded-4" style="background-image: url({{rent.car.picture}})"></div>
		<div class="col-md-8">
			<div class="card-body carSharing h-100 py-2">
				<div class="d-flex flex-row justify-content-between">
					<h5 class="m-0">{{rent.startDate|date("Y/m/d")}}
						-
						{{rent.endDate|date("Y/m/d")}}</h5>
					<div class="card-title mb-0"=>
						<h6 class="mb-0">{{rent.car.model}}
							-
							{{rent.car.brand}}
						</h6>
						<div>
							<small>{{rent.car.registration}}</small>
						</div>
					</div>
				</div>
				<p class=" card-text mb-0">
					From:
					{{rent.locationDeparture}}

					<br>
					To:
					{{rent.locationArrival}}
				</p>

				<div class="d-flex flex-row justify-content-between align-items-end">
					<div class="d-flex flex-column align-items-start mt-2">
						<small class="card-text mb-0">Passengers:
						</small>
						{% for passenger in rent.passenger %}
							<small>{{passenger.employee.firstname}}
								{{passenger.employee.lastname}}
								<br></small>
						{% endfor %}
					</div>

				</div>
				<div class="d-flex justify-content-end">
					<a href="{{ path("app_rent_carSharing", {'id':rent.id})}}" class="btn button rounded">Cancel</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<span class="d-none energies">{{rent.car.fuel}}</span>
	</div>
</div>
